<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiysWmgPnuUkdKK7ADqzt6PbZANpm_caA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020597730570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YogaSchoolKailas.kagyoKanri</string>
	<key>PROJECT_ID</key>
	<string>kagyokanri-a2739</string>
	<key>STORAGE_BUCKET</key>
	<string>kagyokanri-a2739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020597730570:ios:57f9e4c932d6e9a6a90ef3</string>
</dict>
</plist>